affine==2.4.0 ; python_version >= "3.10" and python_version < "4.0"
aiobotocore==2.15.2 ; python_version >= "3.10" and python_version < "4.0"
aiohappyeyeballs==2.4.3 ; python_version >= "3.10" and python_version < "4.0"
aiohttp-client-cache[sqlite]==0.12.4 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.11.1 ; python_version >= "3.10" and python_version < "4.0"
aioitertools==0.12.0 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
aiosqlite==0.20.0 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.6.2.post1 ; python_version >= "3.10" and python_version < "4.0"
arch==7.2.0 ; python_version >= "3.10" and python_version < "4.0"
asciitree==0.3.3 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.2.0 ; python_version >= "3.10" and python_version < "4.0"
bokeh==3.6.0 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.35.36 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2024.8.30 ; python_version >= "3.10" and python_version < "4.0"
cftime==1.6.4.post1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.10" and python_version < "4.0"
cligj==0.7.2 ; python_version >= "3.10" and python_version < "4"
cloudpickle==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
dask-expr==1.1.19 ; python_version >= "3.10" and python_version < "4.0"
dask==2024.11.2 ; python_version >= "3.10" and python_version < "4.0"
dask[dataframe]==2024.11.2 ; python_version >= "3.10" and python_version < "4.0"
dataretrieval==1.0.11 ; python_version >= "3.10" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
duckdb==1.1.3 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
fasteners==0.19 ; python_version >= "3.10" and python_version < "4.0" and sys_platform != "emscripten"
fiona==1.10.1 ; python_version >= "3.10" and python_version < "4.0"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2024.9.0 ; python_version >= "3.10" and python_version < "4.0"
gcsfs==2024.9.0.post1 ; python_version >= "3.10" and python_version < "4.0"
geopandas==0.14.4 ; python_version >= "3.10" and python_version < "4.0"
google-api-core==2.23.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth-oauthlib==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.36.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-core==2.4.1 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-storage==2.18.2 ; python_version >= "3.10" and python_version < "4.0"
google-crc32c==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
google-resumable-media==2.7.2 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.66.0 ; python_version >= "3.10" and python_version < "4.0"
grpcio-status==1.67.1 ; python_version >= "3.10" and python_version < "4.0"
grpcio==1.67.1 ; python_version >= "3.10" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4.0"
h5py==3.12.1 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.6 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.25.2 ; python_version >= "3.10" and python_version < "4.0"
hydrotools-metrics==1.3.3 ; python_version >= "3.10" and python_version < "4.0"
hydrotools-nwis-client==3.4.0 ; python_version >= "3.10" and python_version < "4.0"
hydrotools-restclient==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==8.5.0 ; python_version >= "3.10" and python_version < "3.12"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
kerchunk==0.2.6 ; python_version >= "3.10" and python_version < "4.0"
llvmlite==0.43.0 ; python_version >= "3.10" and python_version < "4.0"
locket==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
multidict==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
multimethod==1.10 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
netcdf4==1.6.5 ; python_version >= "3.10" and python_version < "4.0"
numba==0.60.0 ; python_version >= "3.10" and python_version < "4.0"
numcodecs==0.13.1 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "4.0"
pandera[pyspark]==0.20.4 ; python_version >= "3.10" and python_version < "4.0"
partd==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
patsy==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.10" and python_version < "4.0"
propcache==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.25.0 ; python_version >= "3.10" and python_version < "4.0"
protobuf==5.28.3 ; python_version >= "3.10" and python_version < "4.0"
py4j==0.10.9.7 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==15.0.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.1 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.9.2 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.2.0 ; python_version >= "3.10" and python_version < "4.0"
pyproj==3.7.0 ; python_version >= "3.10" and python_version < "4.0"
pyspark[connect]==3.5.3 ; python_version >= "3.10" and python_version < "4.0"
pyspark[pandas-on-spark]==3.5.3 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-forge==18.6.0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "4.0"
rasterio==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
rioxarray==0.15.7 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
s3fs==2024.9.0 ; python_version >= "3.10" and python_version < "4.0"
scipy==1.14.1 ; python_version >= "3.10" and python_version < "4.0"
shapely==2.0.6 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4.0"
statsmodels==0.14.4 ; python_version >= "3.10" and python_version < "4.0"
teehr @ git+https://github.com/RTIInternational/teehr.git@fd42fee402946052d56cf77170b9cfc8fa0ca906 ; python_version >= "3.10" and python_version < "4.0"
toolz==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
tornado==6.4.1 ; python_version >= "3.10" and python_version < "4.0"
typeguard==4.4.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "4.0"
ujson==5.10.0 ; python_version >= "3.10" and python_version < "4.0"
url-normalize==1.4.3 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.2.3 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
xarray==2024.10.0 ; python_version >= "3.10" and python_version < "4.0"
xyzservices==2024.9.0 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.17.1 ; python_version >= "3.10" and python_version < "4.0"
zarr==2.18.3 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.20.2 ; python_version >= "3.10" and python_version < "3.12"
